@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-container {
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}

.header-wrapper {
  padding: 0 2%;
}

.header-logo {
  color: gold;
  flex-grow: 1;
  font-family: "Montserrat" !important;
  font-weight: bold !important;
  cursor: pointer;
}

.banner {
  /* background-image: url(./assets/bg.jpg); */
  background: rgb(0,3,14);
  background: radial-gradient(circle, rgba(0,3,14,1) 0%, rgba(2,0,35,1) 90%);
}

.banner-content {
  height: 400;
  display: flex;
  flex-direction: column;
  padding-top: 25;
  justify-content: space-around;
}

.banner-typography-header {
  font-weight: bold !important;
  margin-top: 15 !important;
  font-family: "Montserrat" !important;
}

.banner-typography-p {
  color: darkgrey !important;
  text-transform: capitalize !important;
  font-family: "Montserrat" !important;
}

.tagline {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  text-align: center;
}

.carousel-wrapper {
  height: 50%;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.carousel-item-image {
  height: 80;
  margin-bottom: 10;
}

.carousel-item-span {
  font-size: 22px !important;
  font-weight: 500 !important;
}

.carousel-item-span-positive {
  color: #00CC99;
  font-weight: 500;
}

.carousel-item-span-negative {
  color: #ec1919;
}

.table-header {
  margin: 18px !important;
  font-family: "Montserrat" !important;
}

.table-search {
  margin-bottom: 20px;
  width: 100%;
}

.linear-progress{
  background-color: gold;
}

.table-head {
  background-color: #EEBC1D;
}

.table-head-cell {
  color: black !important;
  font-weight: 700 !important;
  font-family: "Montserrat" !important;
}

.table-body-cell {
  display: flex;
  gap: 15;
}

.table-cell-img {
  height: 50px;
  margin-bottom: 10px;
}